<launch>
	<group ns="tellos">

		<node pkg="tello_pilot" name="tello_pilot_node" type="tello_pilot_node.py" output="screen">
            <!-- tello_list [List]: Defines the names of each drone in the swarm -->
            <param name="tello_list" value="a,b" type="str" />

            <!-- tello_list [-]: Defines the frontend used for the video streams. This can be either opencv or av -->
            <param name="video_frontend" value="av" type="str" />

            <!-- AP Mode -->
            <param name="ap_mode" value="true" type="bool" />
            <param name="ap_ssid" value="TP-Link_9975" type="str" />
            <param name="ap_password" value="62922623" type="str" />

            <!-- GLOBAL -->
            <!-- camer_fps [Hz]: This can be 5, 15, or 30. --> 
			<param name="camera_fps" value="30" type="int" /> 
            <!-- camera_bitrate [MB/s]: This can be auto, 1, 2, 3, 4, or 5. --> 
            <param name="camera_bitrate" value="1" type="str" />
            <!-- camera_resolution [-]: This can be 480P or 720P. --> 
            <param name="camera_resolution" value="720P" type="str" />
            <!-- GLOBAL END -->
            
            <param name="a_ip" value="192.168.0.100" />
            <param name="b_ip" value="192.168.0.101" />

		</node>

	</group>

</launch>
